*.a
*.la
*.lo
*.o
*.tar.bz2
*.tar.gz
*~
.bootstrap
.deps
.emacs.desktop
.emacsrc
.libs
.libs/*
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
core
gmon.out
gnu
libltdl
libtool
m4
po
stamp-h1
