.emacs.desktop
INSTALL
Makefile.in
TAGS
aclocal.m4
build-aux
config.h.in
core
gmon.out
*~
*.o
*.a
*.tar.gz
*.tar.bz2
configure
autom4te.cache
Makefile
.deps
config.h
config.log
config.status
stamp-h1
