[submodule "app/python/wit"]
	path = app/python/wit
	url = git://git.gnu.org.ua/wit.git
[submodule "gint"]
	path = gint
	url = git://git.gnu.org.ua/gint.git
[submodule "imprimatur"]
	path = imprimatur
	url = git://git.gnu.org.ua/imprimatur.git
[submodule "grecs"]
	path = grecs
	url = git://git.gnu.org.ua/grecs.git
