*.a
*.la
*.lo
*.o
*.orig
*.pyc
*.rej
*.tar.bz2
*.tar.gz
*.tar.xz
*~
.bootstrap
.deps
.emacs.*
.emacsrc
.libs
.libs/*
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
core
gmon.out
gnu
gnulib
libltdl
libtool
local-tests
m4
stamp-h1
dicoweb/bin
dicoweb/lib
dicoweb/include
