config.man
dico.aux
dico.cp
dico.cps
dico.fl
dico.fn
dico.info
dico.info*
dico.kw
dico.ky
dico.log
dico.mt
dico.op
dico.pdf
dico.pg
dico.pr
dico.t2d
dico.toc
dico.tp
dico.vr
dicod.8
dicod.conf.5
manual
stamp-vti
version.texi
